*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid white;

}
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    align-items:center; 
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #0E0E0E;

}
.speaker{
   justify-content: flex-end;
   gap:10px;

}
header .speaker i, p{
    color: white;
    font-size: 15px;
    line-height: 50px;
}
main{
    height: calc(100vh - 130px);
    width: 100%;
    margin-top:50px;
    background-color: #0E0E0E;
}
main .card{
    margin-top: 10px;
    width: calc(100% / 7 - 20px);
    height: 150px;
    background-image: url(https://i.picsum.photos/id/70/536/354.jpg?hmac=yGL1HAgS6Q8maZ7rupcbqYe-Ea2RTcDRY1EGHTJPww8);
    background-size: cover;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
}
.card span, .fa-microphone-slash{
    background-color:#596977 ;
    opacity: 0.7;
    padding:5px;
}
main .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 10px;

}
.mute{
    color:white;
    
}
footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    background-color:#0E0E0E ;
  }
  /* nav-left */
  footer .nav-left{
      display: flex;
      font-size: 30px;
      /* margin-top: 20px;  */
      gap: 20px;
      align-items: center;
    
  
  }
  .nav-left p{
      font-size: 16px;
  }
  .nav-left .fa-chevron-up{
      font-size: 15px;
  }
  /* nav-center */
  .nav-center li {
    height: 100%;
    display: inline-block;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
  }
  .nav-center .fa-share-from-square {
    color: #4bc800;
  }
  .nav-center ul {
    display: flex;
    text-align: center;
    gap: 20px;
  }
  footer ul li i {
    font-size: 30px;
  }
  .nav-center .fa-chevron-up {
    font-size: 15px;
  }
  /* nav-right */
   .nav-right p{
       color: red;
       line-height: 80px;
       background-color:#4A4A4A ;
   }
  