*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid white;

}
.flex-container{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
}

header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    background-color: #0E0E0E;

}
.speaker{
   justify-content: flex-end;
   gap:10px;

}
header .speaker i, p{
    color: white;
    font-size: 15px;
    line-height: 50px;
}
main{
    height: calc(100vh - 130px);
    width: 100%;
    margin-top:50px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #222222;
}
/* nav-left */
.nav-left, .nav-right{
    
    height: 100%;
    color: white;
    gap: 20px;
    width: 25%;
    
}
.nav-left{
    justify-content: flex-start;
   
}
.fa-video, .fa-microphone{
    font-size:30px;
    margin-top: 5px;
    
}/* nav-center */
.nav-center{
   justify-content: space-between;
    height:100%;
    flex: 0 1 50%;
}
.nav-center ul{
    height: 100%;
    list-style-type: none;
    color: white;
    justify-content:space-between;
}
.nav-center i{
    font-size: 30px;

}
.nav-left ul{
    gap: 10px;
}
/* nav-right */
.nav-right{
    height: 100%;
    justify-content: flex-end;
    
    line-height: 80px;
}
.nav-right p{
    color:red;
    background-color: #4A4A4A;
    
    line-height: 80px;
    
}